<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Board Test Suite" parallel="methods" thread-count="3">
    <test name="Cross-Browser Kanban Tests">
        <classes>
            <class name="Jira.Board"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
</suite>